<div class="help-dialog">
    <div mat-dialog-title>
        <span>Save Your Secret !</span>
    </div>
    <div class="help-content flex-col secret-display-area">
        <p>This is your SECRET:</p>
        <p><code class="code-select">{{userSecret}}</code></p>
        <p> save it someplace safe!</p>
        <p> You'll need it later to log back into your server.</p>
    </div>
    <mat-dialog-actions align="end">
        <button class="help-close-button" mat-button mat-dialog-close color="primary">Continue</button>
    </mat-dialog-actions>
</div>