<div class="help-dialog">
  <div mat-dialog-title>
    <span>Welcome To Segfault!</span>
  </div>
  <div class="help-content">
    <ul>
      <li>
        <div>
          <b>What It Does /   Provides</b>
          <p>Segfault offers free unlimited Root Servers. A new server (inside a Virtual Machine) is created for every
            SSH
            connection.</p>
          <ul class="sub-list">
            <li>Dedicated Root Server for every user.</li>
            <li>Pre-installed tools on Kali-Linux.</li>
            <li>Outgoing traffic is routed through NordVPN/CryptoStorm/Mullvad.</li>
            <li>Reverse TCP/UDP port on a public IP.</li>
            <li>Transparent TOR to connect to .onion addresses.</li>
            <li>Log in via .onion, .gsocket or direct ssh (port 22 or 443).</li>
            <li>Pre-configured .onion web server. Just put your files in /onion.</li>
            <li>Encrypted storage in /sec and /home with your password.</li>
            <li>Only the user can decrypt the data. We do not have the key.</li>
            <li>No Logs.</li>
          </ul>
        </div>
      </li>
      <br>
      <li>
        <b>Obtaining The Secret</b>
        <ul class="sub-list">
          <li>
            Use you favourite SSH client and connect to segfault.net, example 
            <code>ssh root@segfault.net</code>
            using the password <b><i>segfault</i></b>
          </li>
          <li>
            Once logged in you'll be shown a secret, which you can use to 
            access your instance.
          </li>
        </ul>
      </li>
      <br>
      <li>
        <b>SegfaultUI (this site)</b>
        <p>SegfaultUI is a GUI frontend for the services that segfault provides.</p>
      </li>
    </ul>
  </div>
  <mat-dialog-actions align="end">
    <button class="help-close-button" mat-stroked-button mat-dialog-close color="primary">Close</button>
  </mat-dialog-actions>
</div>