/* You can add global styles to this file, and also import other style files */

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none !important;
}

@keyframes sideBarShow {
    0% {
        height: var(--control-bar-height);
        width: 0%;
    }

    100% {
        height: 100vh;
        width: 6% !important;
    }
}

@keyframes sideBarHide {
    0% {
        height: 100vh;
        width: 6%;
    }

    100% {
        height: var(--control-bar-height);
        width: 0%;
        display: none !important;
    }
}

.sidebar {
    justify-content: space-between;
    height: 100vh;
    width: 5.5rem;
    transition: width 2s;
    background-color: var(--background);
}

@media only screen and (max-width: 800px) {
    .sidebar {
        display: none;
    }
}

.sidebar-show {
    animation: sideBarShow 0.8s;
}

.sidebar-hidden {
    animation: sideBarHide 0.8s forwards;
}

.top-bar {
    height: var(--control-bar-height);
}

.content-view {
    height: 100vh;
    width: 94%;
    flex: 1;
    background-color: var(--content-background);
}

.desktop-view,
.files-view {
    height: 100vh;
}

.menu-items {
    justify-content: flex-start;
    align-items: center;
}

.menu-brand {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    margin-top: 3rem;
}

.menu-brand>h6 {
    font-size: 4rem;
    font-family: 'PT Sans', sans-serif;
    color: var(--brand-red);
}

.menu-brand>h6::first-letter {
    color: var(--brand-black);
}

.menu-brand-small {
    margin: 0 !important;
    width: 5rem;
    font-size: 3rem !important;
    background-color: var(--background) !important;
    animation: fadeIn 0.5s;
    overflow: hidden;
}

@media only screen and (max-width: 800px) {
    .menu-brand-small {
        display: none;
    }
}

.menu-brand-small>h6 {
    font-size: 2rem !important;
    margin-bottom: 0 !important;
}

.menu-brand-small>span {
    display: none;
}


.menu-brand>span {
    font-family: sans-serif;
    font-style: italic;
    font-size: 0.6rem;
    margin-top: 1rem;
}


.active-bg,
.menu-button:hover,
.terminal-tab:hover {
    background-color: var(--active-bg);
}

.inactive-bg {
    background-color: var(--inactive-bg);
}


.menu-button {
    width: 4rem;
    height: 3rem;
    margin-top: 1.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    transition: background-color .2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.menu-button>div>img {
    filter: var(--menu-btn-icon);
    height: 2.8rem;
}

.controls-view {
    justify-content: space-between;
    background-color: var(--background);
    width: 100%;
}

.terminal-control {
    /* height: 2.8vh; */
    justify-content: flex-start;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.terminal-tab {
    width: 7.2rem;
    transition: width 5s;
    height: 1.2rem;
    margin-top: 0.5rem;
    margin-right: 0.9vh;
    padding: 0.2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    animation: fadeIn 0.5s;
    transition: background-color .2s ease;
}

.terminal-tab-closed {
    animation: fadeOut 0.5s !important;
}

.terminal-tab>span {
    margin-left: 0.3rem;
    font-size: 0.9rem;
    color: var(--term-tab);
    width: 90%;
}

.terminal-tab>img {
    height: 1rem;
    filter: var(--term-tab-icon);
}

.terminal-tab:hover,
.menu-button:hover {
    cursor: pointer;
}

.terminal-window-add {
    width: 1.5rem !important;
    height: 1.2rem !important;
    justify-content: center !important;
}

.terminal-window-add-disabled {
    cursor: not-allowed !important;
}

.terminal {
    /* width: 100%; */
    height: 100%;
    display: flex;
    flex-grow: 1;
}

.terminals-container {
    height: calc(100vh - 2.5rem);
    display: flex;
    flex: 1;
    overflow: hidden;
}

.page-info-text {
    color: #ffff;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    line-height: 2rem;
    text-align: center;
}

@media only screen and (max-width: 800px) {
    .page-info-text {
        margin: 2rem;
        line-height: 3rem;
    }
}

.loading-xpra-indicator {
    position: absolute;
    height: 100vh;
    width: calc(100vw - 7rem);
}

.disconnected-msg {
    align-items: center;
    line-height: 1.2;
}

.disconnected-msg>i {
    font-size: 1.3rem !important;
    line-height: 2;
}

.reconnect-button {
    margin-top: 1rem;
    background-color: rgb(95 97 97);
    color: white;
    cursor: pointer;
    height: 2rem;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.reconnect-button:hover {
    background-color: rgb(133, 135, 135);
}

.reconnect-button>span {
    font-size: 1rem;
}

/* Login Page */

#brandInfo {
    margin-top: 3rem;
    font-size: 1.3rem !important;
}

/* End Login Page */

/* Help Dialog*/
.help-dialog {
    background-color: var(--background);
}

.help-dialog>*,
.help-close-button {
    color: var(--input-text-color) !important;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.help-close-button {
    background-color: var(--close-btn-color) !important;
}

.alt-close-button {
    background-color: var(--alt-close-btn-color) !important;
    color: var(--input-text-color) !important;
}

.help-content {
    font-size: large !important;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    line-height: 1.5 rem;
    height: 30rem;
    overflow: auto;
}

@media only screen and (max-width: 800px) {
    .help-content {
        height: 25rem;
        overflow: auto;
    }

    .input-secret>input {
        width: 10rem;
    }

    .terminal-control {
        margin-left: 0.5rem;
    }

    .sidebar-control,
    .terminal-window-add-disabled,
    .fullscreen-control,
    .change-font-size-control {
        display: none !important;
    }
}

.sub-list {
    margin-top: 0;
    margin-left: 4rem;
}

.sub-list>li {
    line-height: 1.6rem;
}

.help-heading {
    margin-left: 2rem;
}

code {
    color: white;
    font-weight: 600;
    background-color: rgb(56, 54, 54);
}

/* End Help Dialog*/