<div class="help-dialog">
    <div mat-dialog-title>
        <span>Change Font Size</span>
    </div>
    <div class="help-content change-font-size-msg flex-col">
        <div class="flex-row size-indication">
            <label>Font Size</label>
            <label>{{fontSize}}</label>
        </div>
          <mat-slider
              [max]="50"
              [min]="15"
              [step]="1"
              [discrete]="true"
              [showTickMarks]="true"
              >
            <input matSliderThumb [(ngModel)]="fontSize" (valueChange)="fontSizeChanged($event)">
          </mat-slider>
    </div>
    <mat-dialog-actions align="end">
        <button class="alt-close-button" mat-button mat-dialog-close color="primary">Close</button>
      </mat-dialog-actions>
</div>