<div class="flex-col">
    <div class="page-info-text loading-xpra-indicator"
        [ngStyle]="{'z-index': XpraClientReady ? '-99': '0'}">
        <span *ngIf="!DesktopStarted">
            Starting Desktop...
        </span>
        <span *ngIf="DesktopStarted && !DesktopDisconnected">
            Loading Xpra Client...
        </span>
        <div *ngIf="DesktopDisconnected" class="flex-col disconnected-msg">
            <span>Disconnected!</span>
            <div class="reconnect-button" (click)="reconnectToDesktop()">
                <span>Reconnect</span>
            </div>
        </div>
    </div>
    <iframe id="DesktopFrame" *ngIf="ShowFrame && DesktopStarted" 
        [ngStyle]="{'z-index': !XpraClientReady ? '-99': '0'}" 
        (load)="XpraStateChange()"
        (unload)="XpraStateChange()"
        class="desktop-view" 
        [src]="IframeURL" 
        frameborder="0">
    </iframe>
</div>