<div class="flex-col">
    <div class="page-info-text loading-xpra-indicator"
        [ngStyle]="{'z-index': XpraClientReady ? '-99': '0'}">
        <span *ngIf="!DesktopStarted">
            Starting Desktop...
        </span>
        <span *ngIf="DesktopStarted">
            Loading Xpra Client...
        </span>
    </div>
    <iframe *ngIf="ShowFrame && DesktopStarted" [ngStyle]="{'z-index': !XpraClientReady ? '-99': '0'}" (load)="onXpraClientLoad()"
        class="desktop-view" [src]="IframeURL" frameborder="0"></iframe>
</div>