.enable-btn {
    background-color: #3f51b5 !important;
    color: white !important;
}

.disable-btn {
    background-color: #f44336 !important;
    color: white !important;
    margin-top: 1rem;
}

.share-area {
    max-height: 15rem;
    justify-content: space-between;
}

.share-enable {
    height: 6rem;
    width: 16rem;
}

.share-link {
    max-width: 16rem;
    overflow-wrap: anywhere;
    user-select: all;
}