<div class="controls-view flex-row">
    <terminal-controls 
        [activeTerminalId]="activeTerminalId"
        (activeTerminalIdChange)="setActiveTerminal($event)" 
        [(terminalWindows)]="terminalWindows"
    >
    </terminal-controls>
    <app-controls></app-controls>
</div>
<div id="terminals-container">
    <app-terminal *ngFor="let term of terminalWindows" class="terminal"
        [ngClass]="{'hidden' : activeTerminalId !== term.id}" [TermId]="term.id">
    </app-terminal>
    <div *ngIf="terminalWindows.length==0" class="terms-tabs-none">
        No Open Terminals, Go Ahead Open A New One!
    </div>
</div>