.share-msg {
    font-size: xx-large;
    color: white;
}

.share-area {
    justify-content: center;
    height: 100vh;
}

.shared-desktop-view{
    height: 100vh;
    flex: 1;
}

.loading-novnc-view{
    position: absolute;
    width: 100vw;
    z-index: 5;
}

.novnc-view{
    position: absolute;
    width: 100vw;
    z-index: 1;
}