<div class="flex-col">
    <div class="page-info-text loading-xpra-indicator"
        [ngStyle]="{'z-index': FileBrowserActive && !FileBrowserNeedsTerminal ? '-99': '0'}">
        <span *ngIf="!FileBrowserActive && !FileBrowserDisconnected && !FileBrowserNeedsTerminal">
            Starting FileBrowser...
        </span>
        <div *ngIf="FileBrowserDisconnected && !FileBrowserNeedsTerminal" class="flex-col disconnected-msg">
            <span>Disconnected!</span>
            <div class="reconnect-button" (click)="startFileBrowser()">
                <span>Reconnect</span>
            </div>
        </div>
        <div *ngIf="FileBrowserNeedsTerminal" class="flex-col disconnected-msg">
            <span>Attention!</span>
            <i>Please Start A Terminal Before Using Filebrowser</i>
        </div>
    </div>
    <iframe *ngIf="FileBrowserActive && !FileBrowserNeedsTerminal" class="files-view" [src]="FbIframeURL"
        frameborder="0">
    </iframe>
</div>